@charset "UTF-8";
/* CSS Document */

body {
	background-color:#000;
	margin:0px;
}
a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFCC00;
	text-decoration:none;
	outline:none;
}
a:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFCC00;
	text-decoration:underline;
	outline:none;}
#bg1{
	background: url(images/bg.jpg) repeat-x bottom;
	width:100%;
	height:100%;
}
#bg{
	background:#000000 url(images/background.jpg) no-repeat left bottom;
	width:100%;
	height:100%;
	min-height:500px;
}
#wrap{
	width:896px;
	height:auto;
	padding-bottom:100px;
	margin-left:auto;
	margin-right:auto;
}
#logo{
	width:355px;
	height:251px;
	float:left;
}
#cuadro-eslogan{
	width:408px;
	height:177px;
	background:url(images/cuadro-game-over.png);
	float:right;
	margin-right:36px;
	margin-top:40px;
}
#titulo{
	width:860px;
	height:58px;
	clear:both;
	background:url(images/top-contenido.png) no-repeat;
}
#contenido{
	width:815px;
	height:auto;
	background:url(images/bg-contenido.png) repeat-y;
	clear:both;
	padding:1px 15px 1px 30px;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	text-align:justify;
}
#space{
	width:815px;
	height:1px;
	background:url(images/bg-contenido.png) repeat-y;
	clear:both;
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	text-align:justify;
}
#footer-contenido{
	width:896px;
	height:181px;
	background:url(images/footer-contenido.png) no-repeat;
	clear:both;
	text-align:center;
}
#footer-contenido a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#FFCC00;
	margin-top:15px;
}
#barra-verde{
	width:100%;
	height:26px;
	background:url(images/bg-barra-verde.jpg) repeat-x;
}
#footer{
	width:100%;
	height:auto;
	background:#835601 url(images/bg-footer.jpg) repeat-x bottom;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#FFFFFF;
	padding-bottom:100px;
	bottom:0px;
}
#footer p{
	margin:0px;
}
#footer a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#FFFFFF;
	text-align:center;
	text-decoration:none;
	outline:none;
}
#footer a:hover{
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#FFFFFF;
	text-decoration:underline;
	outline:none;
}

div.btn-acerca-de-nosotros {
	margin:0;
	padding:0;
	width:235px;
	height:19px;
	display:block;
	cursor:pointer;
	outline:none;
	text-indent:-999999px;
	clear:both;
	margin-left:275px;
	padding-top:20px;
}
div.btn-acerca-de-nosotros a{
	display:block;
	width:235px;
	height:19px;
	background:url(images/btn-acerca-de-nosotros.png) no-repeat top;
}
div.btn-acerca-de-nosotros a:hover{
	background:url(images/btn-acerca-de-nosotros.png) no-repeat bottom;
}

div.btn-equipo-pv {
	margin:0;
	padding:0;
	width:128px;
	height:19px;
	display:block;
	cursor:pointer;
	outline:none;
	text-indent:-999999px;
	clear:both;
	margin-left:275px;
	margin-top:10px;
}
div.btn-equipo-pv a{
	display:block;
	width:128px;
	height:19px;
	background:url(images/btn-equipo-pv.png) no-repeat top;
}
div.btn-equipo-pv a:hover{
	background:url(images/btn-equipo-pv.png) no-repeat bottom;
}

div.btn-campa-ninos {
	margin:0;
	padding:0;
	width:166px;
	height:23px;
	display:block;
	cursor:pointer;
	outline:none;
	text-indent:-999999px;
	clear:both;
	margin-left:275px;
	margin-top:10px;
}
div.btn-campa-ninos a{
	display:block;
	width:166px;
	height:23px;
	background:url(images/btn-campa-ninos.png) no-repeat top;
}
div.btn-campa-ninos a:hover{
	background:url(images/btn-campa-ninos.png) no-repeat bottom;
}

div.btn-campa-jov {
	margin:0;
	padding:0;
	width:194px;
	height:19px;
	display:block;
	cursor:pointer;
	outline:none;
	text-indent:-999999px;
	clear:both;
	margin-left:275px;
	margin-top:10px;
}
div.btn-campa-jov a{
	display:block;
	width:194px;
	height:19px;
	background:url(images/btn-campa-jovenes.png) no-repeat top;
}
div.btn-campa-jov a:hover{
	background:url(images/btn-campa-jovenes.png) no-repeat bottom;
}

div.btn-galeria-fotos {
	margin:0;
	padding:0;
	width:207px;
	height:19px;
	display:block;
	cursor:pointer;
	outline:none;
	text-indent:-999999px;
	clear:both;
	margin-left:275px;
	margin-top:10px;
}
div.btn-galeria-fotos a{
	display:block;
	width:207px;
	height:19px;
	background:url(images/btn-gal-fotos.png) no-repeat top;
}
div.btn-galeria-fotos a:hover{
	background:url(images/btn-gal-fotos.png) no-repeat bottom;
}

div.btn-contactenos {
	margin:0;
	padding:0;
	width:155px;
	height:19px;
	display:block;
	cursor:pointer;
	outline:none;
	text-indent:-999999px;
	clear:both;
	margin-left:275px;
	margin-top:10px;
}
div.btn-contactenos a{
	display:block;
	width:155px;
	height:19px;
	background:url(images/btn-contactenos.png) no-repeat top;
}
div.btn-contactenos a:hover{
	background:url(images/btn-contactenos.png) no-repeat bottom;
}
div#menu{
	width:860px;
	height:100px;
}
#content{
		width:720px;
		margin:auto;
	}
#page{
		margin:0 auto;
		position:relative;
		width:850px;
		font-family:verdana;
		font-size:12px;
	}
.fotos{
	border:#FFCC00 solid 1px;
	margin:5px;
}
	


/*------------  ESTILOS H1  --------------*/

/*---este es la configuracion general---*/

H1 {
	font-family: Verdana, Arial, Helvetica, sans-serif bold;
	color: #1F9AD7;
	font-size: 14px;
	background: #FFF;
	display:block;
	clear: left;
	width:860px;
	height:58px;
	text-indent:-99999px;
	margin: 0;
	padding:0;
	
}
/*---estas son las imagenes de las diferentes secciones---*/

h1.acerca-de-nosotros {background:url(images/t-acerca-de-nosotros.png) no-repeat}
h1.equipo-pv {background:url(images/t-equipo-pv.png) no-repeat}
h1.semana-ninos {background:url(images/t-semana-ninos.png) no-repeat}
h1.semana-jovenes {background:url(images/t-semana-jovenes.png) no-repeat}
h1.galeria-de-fotos {background:url(images/t-galeria-de-fotos.png) no-repeat}
h1.contactenos {background:url(images/t-contactenos.png) no-repeat}
h1.familia-theis {background:url(images/t-familia-theis.png) no-repeat}
h1.familia-coto {background:url(images/t-familia-coto.png) no-repeat}
h1.familia-jimenez {background:url(images/t-familia-jimenez.png) no-repeat}
h1.familia-ortiz {background:url(images/t-familia-ortiz.png) no-repeat}
h1.vilma-abbott {background:url(images/t-vilma-abbott.png) no-repeat}
h1.alejandra-chaves {background:url(images/t-alejandra-chaves.png) no-repeat}
h1.sebastian-munoz {background:url(images/t-sebastian-munoz.png) no-repeat}

/**********************************************************/

h2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#000099;
}